---
import BaseText from '~/components/typographys/BaseText.astro';
import TitleText from '~/components/typographys/TitleText.astro';
import SectionTitleText from '~/components/typographys/SectionTitleText.astro';
import styles from './style.module.scss';
---

<div class={styles.aboutContainer}>
  <TitleText>About</TitleText>
  <img 
    src="/images/konoowa.webp" 
    width="820" 
    height="312" 
    alt="この世の終わりゲーミング" 
    class={styles.logo} 
  />
  <div class={styles.aboutContent}>
    <div class={styles.section}>
      <BaseText>
        ゲームをしているとき、この世の終わりみたいなプレイをされてあったまったことはないでしょうか。ラグい射撃Mii、パナしてくるガノン、なぜか特攻するハイドラ。一度は対面したことがあるのではないでしょうか。
        <br />
        <br />
        私たち「この世の終わりゲーミング」は、そのような絶望的な瞬間に立ち向かうために2023年に結成されました。
      </BaseText>
    </div>
    <div class={styles.section}>
      <SectionTitleText>ビジョン</SectionTitleText>
      <BaseText>
        このジャングルのようなオンライン戦場で、そんなあなたたちの愚行を正す存在になること。そして、真のゲームの楽しさを教えることを目指しています。
      </BaseText>
    </div>
    <div class={styles.section}>
      <SectionTitleText>ミッション</SectionTitleText>
      <BaseText>
        選手たちには、ゲームの真髄を学ぶと共に、それを理解できない「あのプレイヤーたち」に示す技術を磨かせる。
        <br />
        ファンと共に、オンラインでのマナーの悪いプレイをなくす活動を推進。
        <br />
        一緒にゲームの真の楽しさを再発見し、この世の終わりのようなオンラインの環境を改善する。
      </BaseText>
    </div>
    <div class={styles.section}>
      <SectionTitleText>選手たち</SectionTitleText>
      <BaseText>
        私たちの選手たちは、戦略的な思考と優れた技術を持ち、横Bを擦られても屈しない心を持っています。
      </BaseText>
    </div>
    <div class={styles.section}>
      <SectionTitleText>チームの歴史</SectionTitleText>
      <BaseText>
        設立から短い間に、私たちはオンラインの荒れた環境で多くの勝利を手にしてきました。しかし、それ以上に私たちが誇りに思っているのは、多くの「問題児」たちを教育し、より健全なプレイヤーに変えてきたことです。
      </BaseText>
    </div>
    <div class={styles.section}>
      <SectionTitleText>最後に</SectionTitleText>
      <BaseText>
        「この世の終わりゲーミング」として、私たちはすべてのプレイヤーがゲームを心から楽しむことができる世界を目指しています。共にその未来を築いていきましょう。
      </BaseText>
    </div>
  </div>
</div>
