---
import styles from './style.module.scss'
---

<footer class={styles.footer}>
  <img 
    src="/images/logo.webp" 
    alt="この世の終わりゲーミング" 
    width="120" 
    height="120" 
    class={styles.logo}
  />
  <div class={styles.footerContent}>
    <ul class={styles.menu}>
      <li class={styles.menuItem}><a href="/about">ABOUT</a></li>
      <li class={styles.menuItem}><a href="/news">NEWS</a></li>
      <li class={styles.menuItem}><a href="/members">MEMBERS</a></li>
      <li class={styles.menuItem}><a href="/sponsors">SPONSORS</a></li>
      <li class={styles.menuItem}><a href="/contact">CONTACT</a></li>
    </ul>
    <div class={styles.copyright}>
      <p>
        <small>© 2023 @andmohiko</small>
      </p>
    </div>
  </div>
</footer>
